.menu {
    display: flex;
    padding: 0;
    list-style: none;
    font-family: sans-serif;
}

.menu a {
    padding: 8px 16px;
    text-decoration: none;
}

.menu li:hover {
    background-color: bisque;
}

.submenu {
    list-style: none;
    padding: 0;
    position: absolute;
    left: 0;
    top: 100%;
    display: none;
}

.submenu li {
    padding: 20%;
    width: 100%;
}

.menu-about {
    position: relative;
}

.menu-about:hover .submenu {
    display: block;
}