    /* 
justify-content: flex-start |flex-end | center| space-between
| space-around| space-evenly
-> căn chỉnh vị trí của thằng con theo luồng/chiều/hướng hiện tại

align-items: baseline |stretch
-> căn chỉnh element con theo hướng vuông góc của cha
Vd: cha là row thì con là colum

flex-basis: <lenght>
-> chỉ áp dụng cho các element con, dãn theo hướng của nó 
Vd flex-direction: row; -> dãn theo chiều ngang


flex-grow: <number>
-> áp dụng theo con, chỉ áp dụng khi element cha còn có khoảng trống,
chia phần trống còn lại trong element cha phân bổ bên trong element con tùy thuộc 
Vào hệ số truyền vào

flex-shrink: 1* | <number>
-> nếu tổng element con mà lớn hơn element cha thì sẽ cắt bớt đi 

order: 0* | <number>
-> áp dụng cho các element con để thay đổi thứ tự hiển thị trên trình duyệt
Thứ tự mặc đinh từ trái sang phải(flex-direction: row;) hoặc
Từ trên xuống dưới (flex-direction: column;) 
*/
    
    body {
        margin: 38px;
    }
    
    .container {
        color: white;
        display: flex;
        /* mặc định hàng ngang do flex-direction: row; */
        flex-direction: row;
        background-color: antiquewhite;
    }
    
    .child-1 {
        background-color: blue;
        flex-basis: 150px;
        flex-grow: 1;
    }
    
    .child-2 {
        background-color: red;
        flex-basis: 150px;
        flex-grow: 1;
    }
    
    .child-3 {
        background-color: green;
        flex-basis: 150px;
        flex-grow: 1;
    }
    
    .container-swap .child-1 {
        order: 1;
    }